body {
    background: linear-gradient(90deg, #FFFFFF -20%, rgba(86,175,200,1) 100%);;
    color: white;
    font-family: "roboto";
    margin: 0;
  }
  /*Grid na rovrhnutie celej stránky*/
  .siteGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    gap: 3rem;
    max-width: 1360px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  /*Tabulka zadávaných hodnôt*/
  .hodnotyContainer {
    /* grid-column: 1; */
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    background-color: #665F9B;
    align-items: center;
    padding: 0.5rem;
    border-radius: 3px;
  }
  
  .hodnotyContainer .item {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #7588B0;
    border-radius: 2px;
  }
  
  .hodnotyContainer .unitChoiceInput {
    grid-column: 3;
  }
  
  .hodnotyContainer .item1 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .hodnotyContainer .item1-1 {
    grid-column: 2;
    grid-row: 2;
  }
  .hodnotyContainer .item2 {
    grid-column: 1;
    grid-row: 3;
  }
  
  .hodnotyContainer .item2-1 {
    grid-column: 2;
    grid-row: 3;
  }
  .hodnotyContainer .item3 {
    grid-column: 1;
    grid-row: 4;
  }
  
  .hodnotyContainer .item3-1 {
    grid-column: 2;
    grid-row: 4;
  }
  .hodnotyContainer .item4 {
    grid-column: 1;
    grid-row: 5;
  }
  
  .hodnotyContainer .item4-1 {
    grid-column: 2;
    grid-row: 5;
  }
  .hodnotyContainer .item5 {
    grid-column: 1;
    grid-row: 6;
  }
  
  .hodnotyContainer .item5-1 {
    grid-column: 2;
    grid-row: 6;
  }
  .hodnotyContainer .item6 {
    grid-column: 1;
    grid-row: 7;
  }
  
  .hodnotyContainer .item6-1 {
    grid-column: 2;
    grid-row: 7;
  }
  
  /*Tabulka výsledkov*/
  .vysledkyContainer {
    /* grid-column: 2; */
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    background-color: #665F9B;
    align-items: center;
    padding: 0.5rem;
    border-radius: 3px;
  }
  
  .vysledkyContainer .grid-item {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #7588B0;
    border-radius: 2px;
  }
  
  .hodnotyContainer .unitChoiceOutput {
    grid-column: 3;
  }
  
  .vysledkyContainer .grid-item1 {
    grid-column: 1;
    grid-row: 2;
  }
  .vysledkyContainer .grid-item1-1 {
    grid-column: 2;
    grid-row: 2;
  }
  .vysledkyContainer .grid-item2 {
    grid-column: 1;
    grid-row: 3;
  }
  .vysledkyContainer .grid-item2-1 {
    grid-column: 2;
    grid-row: 3;
  }
  
  .vysledkyContainer .grid-item3 {
    grid-column: 1;
    grid-row: 4;
  }
  .vysledkyContainer .grid-item3-1 {
    grid-column: 2;
    grid-row: 4;
  }
  
  .vysledkyContainer .grid-item4 {
    grid-column: 1;
    grid-row: 5;
  }
  .vysledkyContainer .grid-item4-1 {
    grid-column: 2;
    grid-row: 5;
  }
  
  .vysledkyContainer .grid-item5 {
    grid-column: 1;
    grid-row: 6;
  }
  .vysledkyContainer .grid-item5-1 {
    grid-column: 2;
    grid-row: 6;
  }
  
  .vysledkyContainer .grid-item6 {
    grid-column: 1;
    grid-row: 7;
  }
  .vysledkyContainer .grid-item6-1 {
    grid-column: 2;
    grid-row: 7;
  }
  /*Zmena jednotiek (select units)*/
  .unitChoiceInput select {
    width: 66px;
    height: 35px;
  }
  .unitChoiceOutput select {
    width: 66px;
    height: 35px;
  }
  /*Responzívna tabulka s ukazovatelmi (letová obálka)*/
  .envelope {
    /* grid-column: 3; */
    display: grid;
    gap: 0.5rem;
    text-align: left;
    background-color: #665F9B;
    align-items: center;
    padding: 0.5rem;
    border-radius: 3px;
  }
  
  .nadpisEnvelope {
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #7588B0;
    border-radius: 2px;
  }
  .resposiveTable {
    grid-row: 2;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 3px;
  }
  
  #myChart {
    width: 500px;
    height: 250px;
  }
  /*Spodná tabulka s inormáciami a globálnym prepínačom jednotiek*/
  .aditionalContainer {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1360px;
    margin: 60px 5.5%;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: #665F9B;
    border-radius: 3px;
  }
  .item_Button{
    text-align: center;
  }
  .item_Button button {
    height: 40px;
    width: 100px;
    text-align: center;
    background-color: rgba(236,236,236);
    border-color: white;
    border-radius: 3px;
    cursor: pointer;
  }

  .aditionalContainer select {
    height: 40px;
    width: 100px;
    margin-left: 1%;
  }
  
  .aditionalContainer input {
    height: 30px;
    text-align: center;
    border-radius: 3px;
    margin-left: 1%;
  }
  
  .reg_choice {
    display: flex;
    align-items: center;
  }

  .item_unitsSelectContainer {
    text-align: right;
  }

  .reg_choice {
    text-align: right;
  }
  
  input {
    height: 30px;
    border-radius: 3px;
  }
  
  /*Responzivita*/

  @media (max-width: 1280px) {
    .siteGrid {
      max-width: 1000px;
      margin: 60px auto;
      grid-template-columns: 1fr 1fr;
    }
    .resposiveTable {
      width: 100%;
      height: 100%;
    }
    .envelope {
      grid-column: 1/-1;
    }
  
    .aditionalContainer {
      max-width: 1000px;
      padding: 0.5rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 4rem;
    }
    .aditionalContainer input {
      width: 100%;
    }
    .item_date,
    .item_PIC {
      display: grid;
    }
    .item_unitsSelectContainer {
      display: grid;
    }
    .reg_choice {
      display: grid;
    }
    .item_unitsSelectContainer select {
      height: 35px;
      width: 100%;
    }
    .reg_choice select {
      height: 35px;
      width: 100%;
    }
    .reg_choice {
      flex-direction: column;
      align-items: start;
    }
  }
  @media (max-width: 900px) {
    .siteGrid {
      display: inherit;
      max-width: 550px;
      margin: 0 auto;
      padding: 0 1rem;
    }
    .hodnotyContainer {
      margin: 2rem 0;
    }
    .vysledkyContainer {
      margin: 2rem 0;
    }
    .envelope {
      display: inherit;
      margin: 2rem 0;
    }
    .resposiveTable {
      width: 100%;
    }
  
    .aditionalContainer {
      display: inherit;
      width: 56%;
      margin: 3rem auto;
      text-align: center;
    }
    .item_unitsSelectContainer {
      text-align: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .reg_choice {
      text-align: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .item_date {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 5px;
    }
    .item_PIC {
      display: flex;
      flex-direction: column;
    }
    .aditionalContainer input {
      width: 80%;
      margin: 0 auto;
    }
    .item_unitsSelectContainer select {
      width: 82%;
      text-align: center;
    }
    .reg_choice select {
      width: 82%;
      text-align: center;
    }
    label {
      margin: 5px 0;
    }
    .reg_choice {
      align-items: center;
      padding: -50px;
    }
    .item_unitsSelectContainer label {
      text-align: start;
    }
    .reg_choice label {
      text-align: start;
    }
  }
  @media (max-width: 600px) {
    header {
      font-size: 25px;
    }
    .siteGrid {
      margin: 0px auto;
    }
    .aditionalContainer {
      display: inherit;
      width: 91%;
    }
    .item_unitsSelectContainer select {
      height: 35px;
    }
    .reg_choice select {
      height: 35px;
    }

  }
  