body{
    background-color: rgb(16, 28, 58);
    color: white;
    font-family: "roboto";
    margin: 0;
}
/*Grid na rovrhnutie celej stránky*/
.siteGrid{
    display: grid;
    gap: 6rem;
    margin: 60px 60px 60px 60px;
}

/*Tabulka zadávaných hodnôt*/
.hodnotyContainer{
    grid-column: 1;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    background-color: rgb(4, 12, 53);
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.hodnotyContainer .item{
    grid-column: 1/ span 3;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(101, 168, 0);
}

.hodnotyContainer .unitChoiceInput{
    grid-column: 3;
}

.hodnotyContainer .item1{
    grid-column: 1;
    grid-row: 2;
}

.hodnotyContainer .item1-1{
    grid-column: 2;
    grid-row: 2;
}
.hodnotyContainer .item2{
    grid-column: 1;
    grid-row: 3;
}

.hodnotyContainer .item2-1{
    grid-column: 2;
    grid-row: 3;
}
.hodnotyContainer .item3{
    grid-column: 1;
    grid-row: 4;
}

.hodnotyContainer .item3-1{
    grid-column: 2;
    grid-row: 4;
}
.hodnotyContainer .item4{
    grid-column: 1;
    grid-row: 5;
}

.hodnotyContainer .item4-1{
    grid-column: 2;
    grid-row: 5;
}
.hodnotyContainer .item5{
    grid-column: 1;
    grid-row: 6;
}

.hodnotyContainer .item5-1{
    grid-column: 2;
    grid-row: 6;
}
.hodnotyContainer .item6{
    grid-column: 1;
    grid-row: 7;
}

.hodnotyContainer .item6-1{
    grid-column: 2;
    grid-row: 7;
}

/*Tabulka výsledkov*/
.vysledkyContainer{
    grid-column: 2;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    background-color: rgb(4, 12, 53);
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.vysledkyContainer .grid-item{
    grid-column: 1/ span 3;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(101, 168, 0);
}

.hodnotyContainer .unitChoiceOutput{
    grid-column: 3;
}

.vysledkyContainer .grid-item1{
    grid-column: 1;
    grid-row: 2;
}
.vysledkyContainer .grid-item1-1{
    grid-column: 2;
    grid-row: 2;
}
.vysledkyContainer .grid-item2{
    grid-column: 1;
    grid-row: 3;
}
.vysledkyContainer .grid-item2-1{
    grid-column: 2;
    grid-row: 3;
}

.vysledkyContainer .grid-item3{
    grid-column: 1;
    grid-row: 4;
}
.vysledkyContainer .grid-item3-1{
    grid-column: 2;
    grid-row: 4;
}

.vysledkyContainer .grid-item4{
    grid-column: 1;
    grid-row: 5;
}
.vysledkyContainer .grid-item4-1{
    grid-column: 2;
    grid-row: 5;
}

.vysledkyContainer .grid-item5{
    grid-column: 1;
    grid-row: 6;
}
.vysledkyContainer .grid-item5-1{
    grid-column: 2;
    grid-row: 6;
}

.vysledkyContainer .grid-item6{
    grid-column: 1;
    grid-row: 7;
}
.vysledkyContainer .grid-item6-1{
    grid-column: 2;
    grid-row: 7;
}
/*Zmena jednotiek (select units)*/
.unitChoiceInput select{
    width: 60px;
    height: 35px;
}
.unitChoiceOutput select{
    width: 60px;
    height: 35px;
}
/*Responzívna tabulka s ukazovatelmi (letová obálka)*/
.envelope{
    grid-column: 3;
    display: grid;
    gap: 0.5rem;
    text-align: left;
    background-color: rgb(4, 12, 53);
    align-items: center;
    padding: 0px 5px 0px 5px;
}
.nadpisEnvelope{
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(101, 168, 0);
}
.resposiveTable{
    grid-row: 2;
    width: 500px;
    height: 250px;
    background-color: white;
}

#myChart {
    width: 500px;
    height: 250px;
}
/*Spodná tabulka s inormáciami a globálnym prepínačom jednotiek*/
.aditionalContainer{
    grid-row: 2;
    display: grid;
    gap: 1rem;
    margin: 60px 60px 60px 60px;
    align-items: center;
}
.item_date{
    grid-column: 1;
    grid-row: 1;
}
.item_Callsign{
    grid-column: 2;
    grid-row: 1;
}
.item_PIC{
    grid-column: 3;
    grid-row: 1;
}
.item_Button{
    grid-column: 5;
    grid-row: 1;
    text-align: right;
}
.item_Button button{
    height: 40px;
    width: 100px;
}
.item_unitsSelectContainer{
    grid-column: 4;
    grid-row: 1;
    text-align: right;
}
.item_unitsSelectContainer select{
    height: 40px;
    width: 100px;
}

.aditionalContainer input {
    height: 30px;
    text-align: center;
}

input{
    height: 30px; 
}

